#canvas1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border:2px solid black;
}
@media screen and (min-width: 320px){
    #canvas1{
        width:300px;
        height:200px;
    }
}
@media screen and (min-width: 620px){
    #canvas1{
        width:600px;
        height:400px;
    }
}
